include ../blocks/_blocks

doctype html
html
  head
    block meta
      title New Sails App
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    block styles
      if _debug === true
        // STYLES-DEBUG
        link(rel="stylesheet", href="/global/styles/normalize.css")
        link(rel="stylesheet", href="/global/styles/reset.css")
        link(rel="stylesheet", href="/global/styles/vars.css")
        link(rel="stylesheet", href="/blocks/l-column/l-column.css")
        link(rel="stylesheet", href="/blocks/l-container/l-container.css")
        link(rel="stylesheet", href="/blocks/l-panel/l-panel.css")
        link(rel="stylesheet", href="/blocks/l-row/l-row.css")
        // STYLES-DEBUG END
      else
        // STYLES-PRODUCTION
        link(rel="stylesheet", href="/production/styles.min.css")
        // STYLES-PRODUCTION END

  body
    block body

    // TEMPLATES

    // TEMPLATES END

    // SCRIPTS

    // SCRIPTS END
